<div class="igpost"><a href="https://www.instagram.com/p/DUen4R7DBrR/" target="_blank" data-caption="Viral Dubai Chewy Cookie 🍪
Here’s why Sweet Loop’s Dubai Chewy Cookie is different.

We use premium cocoa powder for a deep, rich chocolate flavor.
Not only that — we also use 100% ground pistachio and Belgian white chocolate to create the perfect balance.

Thanks to these high-quality ingredients, our cookie is not too sweet, but nutty and rich.

We’ve heard it again and again — Sweet Loop’s Dubai Chewy Cookie is an absolute winner! 🏆💚

#sweetloop #dubaichewycookies #dubaichewycookie #waterloodesserts"><img src="{{ absURL "img/ig/d63udscj8l3vsdecfr2g.avif" }}" alt="Viral Dubai Chewy Cookie 🍪
Here’s why Sweet Loop’s Dubai Chewy Cookie is different.

We use premium cocoa powder for a deep, rich chocolate flavor.
Not only that — we also use 100% ground pistachio and Belgian white chocolate to create the perfect balance.

Thanks to these high-quality ingredients, our cookie is not too sweet, but nutty and rich.

We’ve heard it again and again — Sweet Loop’s Dubai Chewy Cookie is an absolute winner! 🏆💚

#sweetloop #dubaichewycookies #dubaichewycookie #waterloodesserts" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DUW74T4jAWM/" target="_blank" data-caption="Have you heard of the viral Dubai Chewy Cookie? 🍪
We make them fresh in our store!

Want to try one before purchasing? We’ve got you!
Free samples available in-store on Feb 5th, from 5 PM to 9 PM.

These cookies take 6hrs to make and are crafted with high-quality ingredients, so they’re not a low-cost item. We appreciate your understanding.

To make sure everyone gets a taste, samples are limited to one small piece per person.
If you’d like more, they’ll be available for purchase 💛"><img src="{{ absURL "img/ig/d63udskj8l3vsdecfr30.avif" }}" alt="Have you heard of the viral Dubai Chewy Cookie? 🍪
We make them fresh in our store!

Want to try one before purchasing? We’ve got you!
Free samples available in-store on Feb 5th, from 5 PM to 9 PM.

These cookies take 6hrs to make and are crafted with high-quality ingredients, so they’re not a low-cost item. We appreciate your understanding.

To make sure everyone gets a taste, samples are limited to one small piece per person.
If you’d like more, they’ll be available for purchase 💛" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DUGYkYGjdVK/" target="_blank" data-caption="We don’t usually feature our team on social media to protect their privacy — but today, we’re making an exception.

Meet Emmanuel 🤍
He has been with Sweet Loop since the very first day we opened our doors to the public. No matter the situation, Emmanuel has always been reliable, positive, and welcoming, serving every customer with a genuine smile.

We truly believe a business cannot grow without the right people, and Emmanuel is absolutely one of them.

Today, we’re celebrating his last day as he steps into a new career. While we’re sad to say goodbye, we’re so proud of him and excited for what’s ahead. We have no doubt he’ll do great — just as he has done here at Sweet Loop for the past year and a half.

Thank you, Emmanuel, for everything. You’ll always be part of the Sweet Loop family 💫"><img src="{{ absURL "img/ig/d63udskj8l3vsdecfr3g.avif" }}" alt="We don’t usually feature our team on social media to protect their privacy — but today, we’re making an exception.

Meet Emmanuel 🤍
He has been with Sweet Loop since the very first day we opened our doors to the public. No matter the situation, Emmanuel has always been reliable, positive, and welcoming, serving every customer with a genuine smile.

We truly believe a business cannot grow without the right people, and Emmanuel is absolutely one of them.

Today, we’re celebrating his last day as he steps into a new career. While we’re sad to say goodbye, we’re so proud of him and excited for what’s ahead. We have no doubt he’ll do great — just as he has done here at Sweet Loop for the past year and a half.

Thank you, Emmanuel, for everything. You’ll always be part of the Sweet Loop family 💫" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DT3GIr0DoY_/" target="_blank" data-caption="🍪 Dubai Chewy Cookie — Back by Popular Demand!

It sold out so quickly that we’re making an extra batch!
This time, pre-orders are available for 4-piece sets only.

🛍 Ordering Info
• 4-piece set: pre-order only
• Single cookies available in-store only

🎁 Special Thank You
All Dubai Cookie pre-order customers receive 10% off all menu items —
churros, ice cream, drinks, and coffee beans
(Yes, we have Dubai churros too!)

🔗 Pre-Order Link
https://square.link/u/l91n54h3

⚠️ Important Notes
• 1 set (4 cookies) = select quantity 1
• Selecting quantity 4 will charge you for 16 cookies
• For Shipping Address, enter a placeholder or the Sweet Loop address:
255 King St N, Waterloo, ON N2J 4V2
• No shipping — pick-up only

📅 Pick-Up Details
🗓 Monday – Wednesday
⏰ 12 PM – 10 PM
Please enter your pick-up date & time when ordering

For pick-up changes or cancellations, email:
📧 order@sweetloop.ca

(Email inquiries only)

Thank you for all the love 💛
#Sweet Loop #dubaichewycookie"><img src="{{ absURL "img/ig/d63udskj8l3vsdecfr40.avif" }}" alt="🍪 Dubai Chewy Cookie — Back by Popular Demand!

It sold out so quickly that we’re making an extra batch!
This time, pre-orders are available for 4-piece sets only.

🛍 Ordering Info
• 4-piece set: pre-order only
• Single cookies available in-store only

🎁 Special Thank You
All Dubai Cookie pre-order customers receive 10% off all menu items —
churros, ice cream, drinks, and coffee beans
(Yes, we have Dubai churros too!)

🔗 Pre-Order Link
https://square.link/u/l91n54h3

⚠️ Important Notes
• 1 set (4 cookies) = select quantity 1
• Selecting quantity 4 will charge you for 16 cookies
• For Shipping Address, enter a placeholder or the Sweet Loop address:
255 King St N, Waterloo, ON N2J 4V2
• No shipping — pick-up only

📅 Pick-Up Details
🗓 Monday – Wednesday
⏰ 12 PM – 10 PM
Please enter your pick-up date & time when ordering

For pick-up changes or cancellations, email:
📧 order@sweetloop.ca

(Email inquiries only)

Thank you for all the love 💛
#Sweet Loop #dubaichewycookie" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DTtdvCXjXmX/" target="_blank" data-caption="All sold out. This is how to enjoy Dubai Chewy Cookie. We keep this in the fridge until it is picked up. Please read below to make it chewy!

Ingredients
White chocolate, Pistachio, Pistachio spread, Butter, Kataifi, Cocoa powder, Milk powder

How to Enjoy
• Keep refrigerated
• When eaten straight from the fridge, the marshmallow shell will be firm
• Leave at room temperature for approximately 30 minutes to restore a chewy and stretchy texture
• Alternatively, microwave for 2–3 seconds

Storage & Shelf Life
Keep refrigerated at all times.
Best consumed within 7 days when stored in the refrigerator."><img src="{{ absURL "img/ig/d63udskj8l3vsdecfr4g.avif" }}" alt="All sold out. This is how to enjoy Dubai Chewy Cookie. We keep this in the fridge until it is picked up. Please read below to make it chewy!

Ingredients
White chocolate, Pistachio, Pistachio spread, Butter, Kataifi, Cocoa powder, Milk powder

How to Enjoy
• Keep refrigerated
• When eaten straight from the fridge, the marshmallow shell will be firm
• Leave at room temperature for approximately 30 minutes to restore a chewy and stretchy texture
• Alternatively, microwave for 2–3 seconds

Storage & Shelf Life
Keep refrigerated at all times.
Best consumed within 7 days when stored in the refrigerator." /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DTeZusZDPOf/" target="_blank" data-caption="🍪 Introducing the Korean Dubai Chewy Cookie!
Sweet, nutty, and wrapped with chocolate marshmallow – once you try it, you won’t be able to stop! 😋

📅 Pop-up Event:
Sunday 5 PM – Tuesday until closing (3 days only!)
⚠️ Limited quantity – we’ll let you know if it sells out!

⚠️ Please note:
Our churros are halal and vegan, but this cookie is not. It contains nuts (pistachio), marshmallow (gelatin), and butter.

Ingredients: White chocolate, Pistachio, Pistachio spread, Butter, Kataifi, Cocoa powder, Milk powder

💌 How to Order:

Fill out the [Google Form] https://forms.gle/qZqnTxs9urcgjeD5A

Send e-transfer to order@sweetloop.ca
 by Jan 16

Orders without payment will be automatically cancelled.

Questions? Email us anytime at order@sweetloop.ca"><img src="{{ absURL "img/ig/d63udssj8l3vsdecfr50.avif" }}" alt="🍪 Introducing the Korean Dubai Chewy Cookie!
Sweet, nutty, and wrapped with chocolate marshmallow – once you try it, you won’t be able to stop! 😋

📅 Pop-up Event:
Sunday 5 PM – Tuesday until closing (3 days only!)
⚠️ Limited quantity – we’ll let you know if it sells out!

⚠️ Please note:
Our churros are halal and vegan, but this cookie is not. It contains nuts (pistachio), marshmallow (gelatin), and butter.

Ingredients: White chocolate, Pistachio, Pistachio spread, Butter, Kataifi, Cocoa powder, Milk powder

💌 How to Order:

Fill out the [Google Form] https://forms.gle/qZqnTxs9urcgjeD5A

Send e-transfer to order@sweetloop.ca
 by Jan 16

Orders without payment will be automatically cancelled.

Questions? Email us anytime at order@sweetloop.ca" /></a></div>

