<div class="igpost"><a href="https://www.instagram.com/reel/DPzC7M4CWun/" target="_blank" data-caption="Our espresso machine broke after a power outage a few days ago. We’re hoping to have it fixed this week and will keep you posted! ☕️⚡️"><img src="{{ absURL "img/ig/d3n8fgcj8l3rb9b9kvug.avif" }}" alt="Our espresso machine broke after a power outage a few days ago. We’re hoping to have it fixed this week and will keep you posted! ☕️⚡️" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DPudFzOjWyN/" target="_blank" data-caption="Open on Thanksgiving Day from 11:30 AM to 9 PM.
Come enjoy our churros, ice cream and drinks!
Happy Thanksgiving!"><img src="{{ absURL "img/ig/d3n8fgcj8l3rb9b9kvv0.avif" }}" alt="Open on Thanksgiving Day from 11:30 AM to 9 PM.
Come enjoy our churros, ice cream and drinks!
Happy Thanksgiving!" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DPg6pYKjQMH/" target="_blank" data-caption="To make a perfect heart... we can do it again until we make it perfect 💖 for you."><img src="{{ absURL "img/ig/d3n8fgcj8l3rb9b9kvvg.avif" }}" alt="To make a perfect heart... we can do it again until we make it perfect 💖 for you." /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DPEWYSUDRHE/" target="_blank" data-caption="Heads up! We no longer accept cash—please bring your card or tap-to-pay. 💳✨"><img src="{{ absURL "img/ig/d3n8fgkj8l3rb9b9l000.avif" }}" alt="Heads up! We no longer accept cash—please bring your card or tap-to-pay. 💳✨" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DOqlWqLDYZx/" target="_blank" data-caption="Classic and Dipping churros will be 50% off. Sep 28th! #specialpromo #promo #event #dessert #waterloodesserts #waterloofoodies #waterloosweets"><img src="{{ absURL "img/ig/d3n8fgkj8l3rb9b9l00g.avif" }}" alt="Classic and Dipping churros will be 50% off. Sep 28th! #specialpromo #promo #event #dessert #waterloodesserts #waterloofoodies #waterloosweets" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DOmcpGwDKfd/" target="_blank" data-caption="🎉 We’re turning 1! 🎉
Join us to celebrate our 1-Year Anniversary with something sweet 💛

✨ Our classic Loop and Dipping churros will be 50% OFF — one day only!
📅 Sunday, Sept 28
🕒 All day while supplies last

Mark your calendars & come celebrate with us — we couldn’t have done it without you! 🥳"><img src="{{ absURL "img/ig/d3n8fgkj8l3rb9b9l010.avif" }}" alt="🎉 We’re turning 1! 🎉
Join us to celebrate our 1-Year Anniversary with something sweet 💛

✨ Our classic Loop and Dipping churros will be 50% OFF — one day only!
📅 Sunday, Sept 28
🕒 All day while supplies last

Mark your calendars & come celebrate with us — we couldn’t have done it without you! 🥳" /></a></div>

