<div class="igpost"><a href="https://www.instagram.com/p/DQcou70Cdy1/" target="_blank" data-caption="💜 Try our UBE Milk! Hot or Iced 💜
A creamy vegan delight made with your choice of almond or oat milk 🌱

UBE (pronounced oo-beh) is a vibrant purple yam from South Asia — naturally sweet, rich, and beautifully fragrant. 💫 It’s not overly sugary, just smooth and floral with that irresistible purple hue that makes every sip feel special.

✨ 100% plant-based
✨ Naturally colorful
✨ Comfort in a cup

#UBEMilk #VeganDrinks #PlantBased #PurpleYam #OatMilk #AlmondMilk #SweetPotatoMagic #UBE"><img src="{{ absURL "img/ig/d42heu4j8l3ou2sk5tu0.avif" }}" alt="💜 Try our UBE Milk! Hot or Iced 💜
A creamy vegan delight made with your choice of almond or oat milk 🌱

UBE (pronounced oo-beh) is a vibrant purple yam from South Asia — naturally sweet, rich, and beautifully fragrant. 💫 It’s not overly sugary, just smooth and floral with that irresistible purple hue that makes every sip feel special.

✨ 100% plant-based
✨ Naturally colorful
✨ Comfort in a cup

#UBEMilk #VeganDrinks #PlantBased #PurpleYam #OatMilk #AlmondMilk #SweetPotatoMagic #UBE" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DP64NXYDriA/" target="_blank" data-caption="Our espresso machine is back — and coffee is back! ☕️🎉

We’d like to say sorry and thank you to all our amazing customers who visited, returned, or ordered brewed coffee while we were down.

To celebrate, we’re running a No Tax Promotion from today until October 24 — one full week! 🙌

Come grab your coffee — we’ve missed making it for you!"><img src="{{ absURL "img/ig/d42heukj8l3ou2sk5tug.avif" }}" alt="Our espresso machine is back — and coffee is back! ☕️🎉

We’d like to say sorry and thank you to all our amazing customers who visited, returned, or ordered brewed coffee while we were down.

To celebrate, we’re running a No Tax Promotion from today until October 24 — one full week! 🙌

Come grab your coffee — we’ve missed making it for you!" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DPzC7M4CWun/" target="_blank" data-caption="Our espresso machine broke after a power outage a few days ago. We’re hoping to have it fixed this week and will keep you posted! ☕️⚡️"><img src="{{ absURL "img/ig/d42heukj8l3ou2sk5tv0.avif" }}" alt="Our espresso machine broke after a power outage a few days ago. We’re hoping to have it fixed this week and will keep you posted! ☕️⚡️" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DPudFzOjWyN/" target="_blank" data-caption="Open on Thanksgiving Day from 11:30 AM to 9 PM.
Come enjoy our churros, ice cream and drinks!
Happy Thanksgiving!"><img src="{{ absURL "img/ig/d42heukj8l3ou2sk5tvg.avif" }}" alt="Open on Thanksgiving Day from 11:30 AM to 9 PM.
Come enjoy our churros, ice cream and drinks!
Happy Thanksgiving!" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DPg6pYKjQMH/" target="_blank" data-caption="To make a perfect heart... we can do it again until we make it perfect 💖 for you."><img src="{{ absURL "img/ig/d42heusj8l3ou2sk5u00.avif" }}" alt="To make a perfect heart... we can do it again until we make it perfect 💖 for you." /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DPEWYSUDRHE/" target="_blank" data-caption="Heads up! We no longer accept cash—please bring your card or tap-to-pay. 💳✨"><img src="{{ absURL "img/ig/d42heusj8l3ou2sk5u0g.avif" }}" alt="Heads up! We no longer accept cash—please bring your card or tap-to-pay. 💳✨" /></a></div>

