<div class="igpost"><a href="https://www.instagram.com/reel/DOqlWqLDYZx/" target="_blank" data-caption="Classic and Dipping churros will be 50% off. Sep 28th! #specialpromo #promo #event #dessert #waterloodesserts #waterloofoodies #waterloosweets"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.71878-15/548967047_639960572224432_3087394835553605091_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=103&ccb=1-7&_nc_sid=18de74&_nc_ohc=pOL-R3pB6ykQ7kNvwG5Szj-&_nc_oc=AdlawK8ztgD_xRAm5s_xA9QgVQVG0Caw7EOvylS9kVsUfGvBZOel7yjcyPC-9FlS6NA&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=qiNCLFoPjIbjniYsMHU6Mw&oh=00_Afb_qhCqVIMalFEw1-m5DlEo5Ex8_dwKee5QdgXwLQvsoQ&oe=68D34808" alt="Classic and Dipping churros will be 50% off. Sep 28th! #specialpromo #promo #event #dessert #waterloodesserts #waterloofoodies #waterloosweets" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DOmcpGwDKfd/" target="_blank" data-caption="🎉 We’re turning 1! 🎉
Join us to celebrate our 1-Year Anniversary with something sweet 💛

✨ Our classic Loop and Dipping churros will be 50% OFF — one day only!
📅 Sunday, Sept 28
🕒 All day while supplies last

Mark your calendars & come celebrate with us — we couldn’t have done it without you! 🥳"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.82787-15/547751911_18035720783686582_5410134202765367592_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=111&ccb=1-7&_nc_sid=18de74&_nc_ohc=8zcIVGoimwQQ7kNvwE5SHQz&_nc_oc=Adlcbj4WLBSMTEikbhwO9WC38mwdTKOwm9jlp2theJ_-c-dUPnKcngXB8gPyh0nvcW8&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=qiNCLFoPjIbjniYsMHU6Mw&oh=00_AfbJ4_RCq2poYU7yKEEkKo9_hXo5iv1J_6srFJASaob-bg&oe=68D337C2" alt="🎉 We’re turning 1! 🎉
Join us to celebrate our 1-Year Anniversary with something sweet 💛

✨ Our classic Loop and Dipping churros will be 50% OFF — one day only!
📅 Sunday, Sept 28
🕒 All day while supplies last

Mark your calendars & come celebrate with us — we couldn’t have done it without you! 🥳" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DOleEFYDVag/" target="_blank" data-caption="⏰ New Hours Alert!
We’re adjusting our opening hours — now starting a little later, but still here for all your churro & coffee cravings. 💛

🕒 Updated Hours:
Mon–Thu: 12 PM – 11 PM
Fri-Sat: 11 AM – 12 AM
Sun: 11 AM – 11 PM

Thanks for your understanding, and we can’t wait to see you during our new hours! ✨"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.82787-15/548515446_18035675852686582_7100282669483269978_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=110&ccb=1-7&_nc_sid=18de74&_nc_ohc=1v5-MsDKaK8Q7kNvwEHLvB3&_nc_oc=Adnd6n88eVPkgAI_Uy6MvPoPK6fud9iapXtlonX0Fp9mu-6Gm4DNztn9-gvdyulX-SY&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=qiNCLFoPjIbjniYsMHU6Mw&oh=00_AfYSDqPj8C8nZexiw6r-NE9tpbs8mjvHjVc4AA9Fx5gPmw&oe=68D34291" alt="⏰ New Hours Alert!
We’re adjusting our opening hours — now starting a little later, but still here for all your churro & coffee cravings. 💛

🕒 Updated Hours:
Mon–Thu: 12 PM – 11 PM
Fri-Sat: 11 AM – 12 AM
Sun: 11 AM – 11 PM

Thanks for your understanding, and we can’t wait to see you during our new hours! ✨" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DOHRK15kQxj/" target="_blank" data-caption="A taste of luxury ✨
The Dubai Loop: pistachio sauce glazed, crispy kadayif topping, and rich dark chocolate drizzle.
Exotic, indulgent, unforgettable 🌈

#sweetloop #dubailoop #churros #waterloocafe #dessert #waterloodessert #kitchenerwaterloo #KWlocal #waterlooeats"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.71878-15/542343357_1284111723264583_654627139889766715_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=104&ccb=1-7&_nc_sid=18de74&_nc_ohc=6KvNA6T6668Q7kNvwGOWJ4z&_nc_oc=AdnUyXvHjhoUJKMT-fqr8pLDrTerrEQCL-rVBKthBRzGhOU8MzcGLI1PmPXaY02jHX8&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=qiNCLFoPjIbjniYsMHU6Mw&oh=00_AfY2pNFMaaT_ysRvhZiojaKQc_6A-gvax2XRgp2CieIUQQ&oe=68D33FFF" alt="A taste of luxury ✨
The Dubai Loop: pistachio sauce glazed, crispy kadayif topping, and rich dark chocolate drizzle.
Exotic, indulgent, unforgettable 🌈

#sweetloop #dubailoop #churros #waterloocafe #dessert #waterloodessert #kitchenerwaterloo #KWlocal #waterlooeats" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DNlrOfQRnRI/" target="_blank" data-caption="Strawberry matcha 🍓🍵💖"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.71878-15/537765382_658657223914310_8163571180768537068_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=jyRjSYUb0vgQ7kNvwGp0MQn&_nc_oc=Adk3uwKtC21-PbXkBg1CDFFMv16-4aiKiiSbGwnBSuptvR_B9GVxJsGvz8LtqdRUD4c&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=qiNCLFoPjIbjniYsMHU6Mw&oh=00_AfZDM86vem_frba1ArY2u4s6teAxOaxnfmI_0xZZTioFEQ&oe=68D342ED" alt="Strawberry matcha 🍓🍵💖" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DNREtN1gD6E/" target="_blank" data-caption="Roasted. Relaxed. Refreshing. ☕❄️
Sip our Iced Hojicha Latte—low caffeine, no bitterness, pure cozy vibes. #sweetloop #matcha #hojicha #waterloocafe"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.71878-15/531208781_1483615182940283_1976022488204202486_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=adkWtoDzEsQQ7kNvwFbK16o&_nc_oc=AdkR8yqCFufyE0fpfuXNZsf7MBjK1fXiECka_0RlVQGqIzv6Yw1oCwG7qnVqcmAvyew&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=qiNCLFoPjIbjniYsMHU6Mw&oh=00_AfZwIBgrLdQoxz6qp_WnYDGA9zdvEQtJDdg2RwLw-9WwJw&oe=68D342FE" alt="Roasted. Relaxed. Refreshing. ☕❄️
Sip our Iced Hojicha Latte—low caffeine, no bitterness, pure cozy vibes. #sweetloop #matcha #hojicha #waterloocafe" /></a></div>

