<div class="igpost"><a href="https://www.instagram.com/p/DOTnsXyjcm8/" target="_blank" data-caption="⏰ New Hours Alert!
We’re adjusting our opening hours — now starting a little later, but still here for all your churro & coffee cravings. 💛

🕒 Updated Hours:
Mon–Thu: 12 PM – 11 PM
Fri: 12 PM – 12 AM
Sat: 11 AM – 12 AM
Sun: 11 AM – 11 PM

Thanks for your understanding, and we can’t wait to see you during our new hours! ✨"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.82787-15/542380406_18034918484686582_1812984203604914460_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=109&ccb=1-7&_nc_sid=18de74&_nc_ohc=alMtt3KAIyUQ7kNvwGBndSv&_nc_oc=AdlLATPYP3VQsvL55aeYHhvC6t8rLdY6KYP4nB1bQOnu_uQbxw5b34a_TbILEQt50eQ&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=XcQ70S47nIdllAyLdNsO4A&oh=00_AfYwmduaLr11-r4z1mfnD3lx_wmKkJtw-bQiIhQ7zY5vdw&oe=68CBD66D" alt="⏰ New Hours Alert!
We’re adjusting our opening hours — now starting a little later, but still here for all your churro & coffee cravings. 💛

🕒 Updated Hours:
Mon–Thu: 12 PM – 11 PM
Fri: 12 PM – 12 AM
Sat: 11 AM – 12 AM
Sun: 11 AM – 11 PM

Thanks for your understanding, and we can’t wait to see you during our new hours! ✨" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DOHRK15kQxj/" target="_blank" data-caption="A taste of luxury ✨
The Dubai Loop: pistachio sauce glazed, crispy kadayif topping, and rich dark chocolate drizzle.
Exotic, indulgent, unforgettable 🌈

#sweetloop #dubailoop #churros #waterloocafe #dessert #waterloodessert #kitchenerwaterloo #KWlocal #waterlooeats"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.71878-15/542343357_1284111723264583_654627139889766715_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=104&ccb=1-7&_nc_sid=18de74&_nc_ohc=fEV8pYVpXioQ7kNvwF92hws&_nc_oc=AdlZKWG_0eV6QEgKoPJzeqwR71fWzeRalkVWnIrki-o-6Heh6YFyb1E2Ep8wgpVJm5E&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=XcQ70S47nIdllAyLdNsO4A&oh=00_AfYkCn15R5odD1TXuZVRXheKi9fKd2LG3U6Z9Z3lOw_1Pw&oe=68CBFFBF" alt="A taste of luxury ✨
The Dubai Loop: pistachio sauce glazed, crispy kadayif topping, and rich dark chocolate drizzle.
Exotic, indulgent, unforgettable 🌈

#sweetloop #dubailoop #churros #waterloocafe #dessert #waterloodessert #kitchenerwaterloo #KWlocal #waterlooeats" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DNlrOfQRnRI/" target="_blank" data-caption="Strawberry matcha 🍓🍵💖"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.71878-15/537765382_658657223914310_8163571180768537068_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=-rIEozt5ik4Q7kNvwHPEFhw&_nc_oc=AdntYz5IYWwlgXI70HPVa9uU7qJMzrmEVZ_72-6jomhNJnfkOxJFco0rf9W1SSFzkgo&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=XcQ70S47nIdllAyLdNsO4A&oh=00_AfaOWHkKisGqjVKbXWiLOoKXMWnbjdEbELUrUN4YcPAlKA&oe=68CC02AD" alt="Strawberry matcha 🍓🍵💖" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DNREtN1gD6E/" target="_blank" data-caption="Roasted. Relaxed. Refreshing. ☕❄️
Sip our Iced Hojicha Latte—low caffeine, no bitterness, pure cozy vibes. #sweetloop #matcha #hojicha #waterloocafe"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.71878-15/531208781_1483615182940283_1976022488204202486_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=MlwsTnVZ0jwQ7kNvwEPRzd1&_nc_oc=AdntBamjJl3Ak-a4yWwyrC46neeaiVl6Neou5-PpJ-KymUybj5yjoCxcv2fqIBXOC7A&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=XcQ70S47nIdllAyLdNsO4A&oh=00_AfbfhV1Zh3gN5UUzaPD5Lpshrpimr2ZeH7SV-Lpkna85XQ&oe=68CC02BE" alt="Roasted. Relaxed. Refreshing. ☕❄️
Sip our Iced Hojicha Latte—low caffeine, no bitterness, pure cozy vibes. #sweetloop #matcha #hojicha #waterloocafe" /></a></div>

<div class="igpost"><a href="https://www.instagram.com/p/DM0R_QHM9jS/" target="_blank" data-caption="About Our Matcha & Hojicha 🌿🍂
We use organic, ceremonial-grade Matcha and Hojicha, sourced directly from a small farm in Jeju island, Korea — ensuring top quality without the high cost. The same premium matcha is also used in our soft serve!

Hojicha is roasted matcha. The roasting process gives it a naturally sweet, earthy, and chocolatey flavor — with almost no bitterness. It’s also low in caffeine (just 0.7% compared to matcha’s 2.7%), making it a perfect mellow option."><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.82787-15/527313251_18030708560686582_1808198172383675366_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=102&ccb=1-7&_nc_sid=18de74&_nc_ohc=EPv4i1ZlXXgQ7kNvwF9SldH&_nc_oc=AdlUz80b8C8D8ZoTKjDyxGVCShzQ5YV5YhDw7Inj_fSduEGc66cOuEr52alADeb1we4&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=XcQ70S47nIdllAyLdNsO4A&oh=00_AfZIhc1ZD3A3G7PIN8KVdE-2gA_VYJI9OswWVXEUxz5wVw&oe=68CBD853" alt="About Our Matcha & Hojicha 🌿🍂
We use organic, ceremonial-grade Matcha and Hojicha, sourced directly from a small farm in Jeju island, Korea — ensuring top quality without the high cost. The same premium matcha is also used in our soft serve!

Hojicha is roasted matcha. The roasting process gives it a naturally sweet, earthy, and chocolatey flavor — with almost no bitterness. It’s also low in caffeine (just 0.7% compared to matcha’s 2.7%), making it a perfect mellow option." /></a></div>

<div class="igpost"><a href="https://www.instagram.com/reel/DM0RHTntTiD/" target="_blank" data-caption="New Drinks Alert! 🍵🌸❄️
Say hello to our newest iced creations — cool, creamy, and full of flavor:

Iced Triple Matcha Latte
Imagine sipping an iced matcha tiramisu! This dreamy drink features layers of creamy matcha, topped with matcha powder. It’s not too sweet, with a deep, earthy matcha flavor that’s almost like dark chocolate.

Iced Lavender Matcha / Café Latte
Our signature matcha or café latte topped with a smooth, floral lavender cream. Creamy, refreshing, and perfect for summer.

Iced Hojicha Latte
Made with roasted green tea, Hojicha has a naturally low caffeine content and no bitterness—just smooth, toasty sweetness. Topped with hojicha cream, it’s like a chocolatey hug in a cup.

Which one are you trying first? 🌿💜🍫

#matchalover #matchalatte #hojicha #lavenderlatte #sweetloop #waterloocafe"><img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.82787-15/526313458_18030707660686582_363793254612205832_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=110&ccb=1-7&_nc_sid=18de74&_nc_ohc=Yi3ghsdmQRIQ7kNvwHfw8rb&_nc_oc=Adknfs5D-J2NhcYse20nnvTMQO5SKXLNcCiGdoBVIxnWzIIZuvtKE00Ze3xKIOIorpw&_nc_zt=23&_nc_ht=scontent-yyz1-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=XcQ70S47nIdllAyLdNsO4A&oh=00_AfZL6fAIXfnB5k-r6qen4YYEvCpDIUOYsZuiUU0PoQ70NA&oe=68CBD9ED" alt="New Drinks Alert! 🍵🌸❄️
Say hello to our newest iced creations — cool, creamy, and full of flavor:

Iced Triple Matcha Latte
Imagine sipping an iced matcha tiramisu! This dreamy drink features layers of creamy matcha, topped with matcha powder. It’s not too sweet, with a deep, earthy matcha flavor that’s almost like dark chocolate.

Iced Lavender Matcha / Café Latte
Our signature matcha or café latte topped with a smooth, floral lavender cream. Creamy, refreshing, and perfect for summer.

Iced Hojicha Latte
Made with roasted green tea, Hojicha has a naturally low caffeine content and no bitterness—just smooth, toasty sweetness. Topped with hojicha cream, it’s like a chocolatey hug in a cup.

Which one are you trying first? 🌿💜🍫

#matchalover #matchalatte #hojicha #lavenderlatte #sweetloop #waterloocafe" /></a></div>

