<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Restaurant",
  "url": "https://www.sweetloop.ca",
  "name": "Sweet Loop Cafe",
  "description": "Sweet Loop is a locally-owned and operated dessert cafe in Waterloo, Ontario that specializes in handcrafted churros, directly-sourced Korean matcha and hojicha, extra thick and rich soft serve ice cream, locally-roasted espresso, and more top-quality desserts.",
  "keywords": "dessert, churro, matcha, hojicha, soft serve, ice cream, espresso, coffee, smoothie, hot chocolate, tea",
  "servesCuisine": "Spanish/American Desserts",
  "priceRange": "$",
  "acceptsReservations": false,
  "hasDriveThroughService": false,
  "currenciesAccepted": "CAD",
  "logo": "https://daniel-nichter.github.io/sweetloop/img/sweet-loop-logo.jpg",
  "image": [
    "https://daniel-nichter.github.io/sweetloop/img/sweet-loop-logo.jpg"
  ],
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "CA",
    "addressLocality": "Waterloo",
    "addressRegion": "ON",
    "postalCode": "N2J 4V2",
    "streetAddress": "255 King St N #12"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "43.47752",
    "longitude": "-80.52563"
  },
  "telephone": "226-609-0178",
  "openingHoursSpecification": [
   {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Monday",
      "opens": "12:00",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Tuesday",
      "opens": "12:00",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Wednesday",
      "opens": "12:00",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Thursday",
      "opens": "12:00",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Friday",
      "opens": "11:00",
      "closes": "00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "11:00",
      "closes": "00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "11:00",
      "closes": "23:00"
    }
  ]
}
</script>
