{{ define "main" }}
<main>
	<div class="instafeed-container">
		<div class="scroll-indicator" id="scroll-indicator">→</div>
		<div class="instafeed" id="instafeed">
			<div class="igpost nocap">
				<a href="https://www.instagram.com/sweetloop.ca/"><img src="{{ absURL "img/logo-instagram.svg" }}" alt="Instagram logo">@sweetloop.ca</a>
			</div>
			{{ partial "ig_feed.html" . }}
		</div>
	</div>
	<div class="content home">
		<h1>The Best Handcrafted Churros, Soft Serve Ice Cream, Organic Korean Matcha, Ube, Dubai Chewy Cookies, Espresso and More</h1>

		<div class="delicious">
			<div><a href="{{ ref . "handcrafted-churros" }}"><img src="{{ absURL "img/mmm/sweet-loop-smore-churro.avif" }}" alt="S'more Churro" width="600" height="449">S'more Churro</a></div>
			<div><a href="{{ ref . "handcrafted-churros" }}"><img src="{{ absURL "img/mmm/sweet-loop-rainbow-churro.avif" }}" alt="Rainbow Churro" width="600" height="544">Rainbow Churro</a></div>
			<div><a href="{{ ref . "handcrafted-churros" }}"><img src="{{ absURL "img/mmm/sweet-loop-classic-cinnamon-sugar-churro.avif" }}" alt="Classic Cinnamon Sugar Churro" width="600" height="468">Classic Cinnamon Sugar Churro</a></div>
			<div><a href="{{ ref . "handcrafted-churros" }}"><img src="{{ absURL "img/mmm/sweet-loop-dubai-loop-churro.avif" }}" alt="Dubai Loop" width="600" height="480">Dubai Loop</a></div>
			<div><a href="{{ ref . "matcha-and-hojicha" }}"><img src="{{ absURL "img/mmm/sweet-loop-iced-triple-matcha-latte.avif" }}" alt="Iced Triple Matcha Latte" width="600" height="706">Iced Triple Matcha Latte</a></div>
			<div><a href="{{ ref . "espresso-and-more" }}"><img src="{{ absURL "img/mmm/sweet-loop-iced-tiramisu-latte.avif" }}" alt="Iced Tiramisu Latte" width="600" height="695">Iced Tiramisu Latte</a></div>
			<div><a href="{{ ref . "ube" }}"><img src="{{ absURL "img/mmm/sweet-loop-ube-ice-cream.avif" }}" alt="Ube Soft Serve" width="420" height="547">Ube Soft Serve</a></div>
			<div><a href="{{ ref . "dubai-chewy-cookies" }}"><img src="{{ absURL "img/mmm/sweet-loop-dubai-chewy-cookie.avif" }}" alt="Dubai Chewy Cookie" width="326" height="272">Dubai Chewy Cookie</a></div>
			<div><a href="{{ ref . "soft-serve" }}"><img src="{{ absURL "img/mmm/sweet-loop-berry-loop-and-match-ice-cream-combo.avif" }}" alt="Berry Loop &amp; Ice Cream" width="600" height="663">Berry Loop &amp; Ice Cream</a></div>
			<div><a href="{{ ref . "ube" }}"><img src="{{ absURL "img/mmm/sweet-loop-ube-milk.avif" }}" alt="Ube Milk" width="510" height="600">Ube Milk</a></div>
			<div><a href="{{ ref . "espresso-and-more" }}"><img src="{{ absURL "img/mmm/detour-coffee-punch-buggy.avif" }}" alt="Espresso &amp; Coffee" width="523" height="816">Espresso &amp; Coffee</a></div>
		</div>

		<div>
			And more! Glaze over <a href="/menu/"><b>our menu</b></a>!
		</div>

		<div>
			Sweet Loop Cafe is a locally-owned and operated dessert and drink cafe near Wilfrid Laurier University and the University of Waterloo Campus.
			It's the only dessert cafe in Waterloo Region making <a href="{{ ref . "handcrafted-churros" }}">handcrafted churros</a>.
			<br><br>
			Also serving extra thick  <a href="{{ ref . "soft-serve" }}">soft serve ice cream</a> and a full menu of  <a href="{{ ref . "espresso-and-more" }}">drinks</a> (espresso, matcha, hojicha, tea, and hot chocolate), there's a dessert for everyone and every occasion&mdash;or no occasion at all!
			<br><br>
			Using only the best ingredients&mdash;like ceremonial-grade  <a href="{{ ref . "matcha-and-hojicha" }}">matcha</a> sourced directly from a farm in South Korea&mdash;Sweet Loop desserts and drinks will bring a little joy to your day!
		</div>
	</div>
</main>
{{ end }}
